<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy and Policy - Xodimlar kuzatuvi</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background: #f4f4f4;
        color: #333;
      }
      .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
        padding: 20px;
        background: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h1,
      h2 {
        color: #333;
      }
      p,
      ul {
        font-size: 16px;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        margin-bottom: 10px;
      }
      a {
        color: #0275d8;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Privacy and Policy for Xodimlar kuzatuvi</h1>

      <h2>Introduction</h2>
      <p>
        Welcome to "Xodimlar kuzatuvi", developed by uzenergoinspeksiya. Our app
        is designed to track the location of authenticated employees at regular
        intervals, ensuring efficiency and safety in the workplace. This Privacy
        Policy outlines how we collect, use, and protect your data.
      </p>

      <h2>Permissions Used</h2>
      <ul>
        <li>
          <strong>Location Access:</strong> We use
          <code>ACCESS_COARSE_LOCATION</code> and
          <code>ACCESS_FINE_LOCATION</code> to determine your approximate and
          precise location.
        </li>
        <li>
          <strong>Foreground Service:</strong> The
          <code>FOREGROUND_SERVICE</code> permission allows the app to run a
          service in the foreground.
        </li>
        <li>
          <strong>Background Location Access:</strong> With
          <code>ACCESS_BACKGROUND_LOCATION</code>, the app continues to track
          location even when not in active use.
        </li>
        <li>
          <strong>Battery Optimizations:</strong>
          <code>REQUEST_IGNORE_BATTERY_OPTIMIZATIONS</code> helps the app
          function without being hindered by battery optimization processes.
        </li>
        <li>
          <strong>Internet:</strong> The <code>INTERNET</code> permission is
          necessary for transmitting location data back to our servers.
        </li>
        <li>
          <strong>Notifications:</strong> <code>POST_NOTIFICATIONS</code> and
          <code>RECEIVE_BOOT_COMPLETED</code> are used to send and manage
          notifications related to the app.
        </li>
        <li>
          <strong>Device Wake:</strong> <code>WAKE_LOCK</code> allows the app to
          prevent the phone from sleeping to ensure continuous tracking.
        </li>
        <li>
          <strong>Vibration Control:</strong> <code>VIBRATE</code> is used to
          control vibration for alerts and notifications.
        </li>
        <li>
          <strong>Full Screen Intent and Alarms:</strong>
          <code>USE_FULL_SCREEN_INTENT</code>,
          <code>SCHEDULE_EXACT_ALARM</code>, and
          <code>USE_EXACT_ALARM</code> are used for alarm management and
          full-screen operations.
        </li>
        <li>
          <strong>System Alerts and Notification Policy Access:</strong>
          <code>SYSTEM_ALERT_WINDOW</code> and
          <code>ACCESS_NOTIFICATION_POLICY</code> are required for specific
          system interactions and notification management.
        </li>
      </ul>

      <h2>Data Usage and Protection</h2>
      <p>
        We collect location data and related analytics to monitor employee
        movements during work hours. All data is securely stored on our servers,
        with access limited to authorized personnel. We do not share your
        personal data with third parties without your explicit consent, except
        as required by law. Robust security measures are in place to protect
        your data from unauthorized access or breaches.
      </p>

      <h2>User Rights</h2>
      <p>
        Users have the right to access their data and request corrections or
        deletions. Users can opt out of location tracking by changing the app’s
        permissions in their device settings. However, this may affect the app’s
        functionality.
      </p>

      <h2>Updates to the Policy</h2>
      <p>
        We may update this Privacy Policy periodically. Users will be notified
        of significant changes through the app or via email.
      </p>

      <h2>Contact Information</h2>
      <p>
        For any questions or concerns regarding our Privacy Policy, please
        contact us at
        <a href="mailto:support@uzenergoinspeksiya.uz"
          >support@uzenergoinspeksiya.uz</a
        >
        or visit our website
        <a href="https://uzenergoinspeksiya.uz/en" target="_blank"
          >https://uzenergoinspeksiya.uz/en</a
        >.
      </p>
    </div>
  </body>
</html>
